/* body css */
body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* standard button styling  */
.mui-btn {
  background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
  padding-left: 2em;
}
.mui-btn a:hover{
  color:honeydew;
}
/* app-bar  */
.mui-appbar {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.mui--text-title {
  color: goldenrod;
}
img {
  width: 70px;
  height: 70px;
}
/* responsive navbar menu */
#smallScreen{
  margin-right: 1em;
  color:goldenrod;
  font-size: 20px;
}
#smallScreen:hover{
  cursor: pointer;
}


ul.mui-list--inline {
  margin-right: 3em;
  font-size: 17px;
}

header a {
  color: white;
}

header table {
  width: 100%;
}

/* dropdown menu */
.mui-btn--primary {
  background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
  padding-left: 2em;
}
#dropDown-menu {
  margin-left: 65%;
  padding-left: 1em;
}
.mui-btn--flat,
#submitEmail {
  color: honeydew;
}
.mui-dropdown__menu li:hover {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color:white;
  cursor:context-menu;
}
/* padding inside drop-douwn */
#timeDropdown,  #currentCoin{
  text-align: center;
}


/* mychart */
.chart-container {
  margin-left: 3em;
}

#mui-row {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 4em;
}

/* contact form */

#contact-us {
  width: 50%;
  margin: auto;
  margin-top: 5em;
}

/* CryptoNews */
#crypto-news{
  margin-top: 3em;
}

/* cards style */
.card-example {
  position: relative;
  background-color: #fff;
}

.card-example img {
  width: 100%;
  height: 70%;
}

.card-example span.title {
  display: inline-block;
  position: absolute;
  left: 20px;
}


.fa-bitcoin {
  color: goldenrod;
}

ul {
  padding-left: 0;
}


.mui-divider {
  text-align: center;
}
.aGithub {
  padding-bottom: 20px;
}



/* modal */
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.modal-header{
text-align: center;
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
border-radius: 20px 20px 0px 0px;
padding:10px;
padding-bottom: 25px;
color: goldenrod;
}

.modal-footer{
  text-align: center;
  padding: 0px 0px 15px 0px;
  margin: 0;
  color: #ccc;
}
.modal-dates{
  float: right;
  color: #ccc;
}

#modal-body{
  position: relative;
  z-index: 1;
  width: 75%;
  background-color: honeydew;
  border-radius: 20px;
  margin: 10% auto;
}

#modal-links{
  padding: 25px;
}

#close-modal{
  float: right;
  color: #ccc;
  font-size: 25px;
}
#close-modal:hover{
  color: black;
  cursor: pointer;
}


h2{
  display: inline !important;
  color:goldenrod;
  padding-left: 1em;
}
h4 a{
  color: black;
}
button a {
  color: black;
}
/* footer */
footer {
  margin-top: 5em;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  background-color: #eee;
  padding-top: 20px;
}



@media(max-width: 720px){
  #bigScreen{
    display: none;
  }
  #smallScreen{
    display:block
  }
}
@media(min-width:720px){
  #smallScreen{
    display:none;
  }
}

