/* body css */
body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* app-bar  */
.mui-appbar {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.mui--text-title {
  padding-left: 2em;
  color: goldenrod;
}
img{
    width: 70px;
    height: 70px;
}

/* dropdown menu */
#dropDown-menu {
  margin-left: 65%;
  padding-left: 1em;
}
.mui-btn--flat, #submitEmail, .mui-btn--primary{
    color: honeydew;
    background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
  padding-left: 2em;
}
#link-button{
  color: honeydew;
}
.mui-dropdown__menu li:hover {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color:white;
  cursor:context-menu;
  
}
/* padding inside drop-douwn */
#timeDropdown,  #currentCoin{
  padding-left: 2em;
}

/* mychart */
.chart-container {
  margin-left: 3em;
}
#mui-row {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 4em;
}

/* contact form */
form{
  width: 50%;
}
/* style title */
#title-crypto{
  padding-left: 1em;
}

/* cards style */
.card-example {
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 350px;
  padding: 3px;
}

.card-example img {
  width: 100%;
  height: 70%;
}

.card-example span.title {
  display: inline-block;
  position: absolute;
  bottom: 140px;
  left: 20px;
}

.card-example .label {
  padding: 25px 25px 0;
}

/* footer */
footer {
  margin-top: 10em;
  box-sizing: border-box;
  height: 70px;
  background-color: #eee;
  padding-top: 20px;
}



