/* body css */
body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* app-bar  */
.mui-appbar {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.mui--text-title {
  padding-left: 2em;
  color: goldenrod;
}
img {
  width: 70px;
  height: 70px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}


/* dropdown menu */
.mui-btn {
  background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
  padding-left: 2em;
}
#dropDown-menu {
  margin-left: 65%;
  padding-left: 1em;
}
.mui-btn--flat,
#submitEmail {
  color: honeydew;
}
/* padding inside drop-douwn */
<<<<<<< HEAD
#timeDropdown,
#currentCoin {
  padding-left: 2em;
=======
#timeDropdown,  #currentCoin{
  text-align: center;
>>>>>>> cac59967895abb48c05ae06c9653ebf05b3e476b
}


/* mychart */
.chart-container {
  margin-left: 3em;
}
#mui-row {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 4em;
}
/* contact form */
form {
  width: 50%;
  /* margin: 2em; */
}

/* style title */
#title-crypto {
  padding-left: 1em;
}
/* cards style */
.card-example {
  position: relative;
  background-color: #fff;
  /* width: 300px;
  height: 350px;
  padding: 3px; */
}

.card-example img {
  width: 100%;
  height: 70%;
}

.card-example span.title {
  display: inline-block;
  position: absolute;
  /* padding-top: 2em; */
  left: 20px;
}

.card-example .label {
  /* padding: 25px 25px 0; */
}
/* footer */
footer {
  margin-top: 10em;
  box-sizing: border-box;
  height: 70px;
  background-color: #eee;
  /* border-top: 1px solid #e0e0e0; */
  padding-top: 20px;
}

@media (min-width: 468px){
  #description{
    float: left;
  }
}
